.CardItem {
    display: grid;
    place-items: center;
    width: 17rem;
    height: 25rem;
    margin: 5px;
    box-shadow: 0 0 12px #3d3d3d;
    border-radius: 1rem;
    overflow: hidden;
    padding: 5px;
    background-color: #fcbac6;
}